<div class="flex h-full flex-col justify-between">
    <div class="flex h-full w-full flex-col items-center justify-evenly">
        <div class="space-y-4">
            <h2>Comment voulez vous qu'on vous appelle ?</h2>
            <div class="flex w-full flex-col space-y-0.5">
                <input class="input-login focus:ring-1 focus:ring-primary" placeholder="Entrez votre nom d'utilisateur" />
            </div>
        </div>
        <div class="space-y-4">
            <h2>Comment avez vous découvert Pelliculum ?</h2>
            <div class="grid grid-cols-2 gap-2.5">
                @for (discover of discoverPossibilites; track discover; let id = $index) {
                <div (click)="selectedPossibility = id" class="flex cursor-pointer items-center justify-center space-x-2 rounded-md border-2 border-[#343434] bg-secondary p-1 transition-all hover:bg-primary" [ngClass]="{'border-primary' : selectedPossibility == id}">
                    <p class="pl-0.5">{{ discover }}</p>
                </div>
                }
            </div>
        </div>
    </div>
    <!-- Submit button -->
    <div class="flex justify-center space-y-1.5">
        <button class="btn btn-rounded w-4/6 hover:bg-primary" (click)="incrementStep()">Valider</button>
    </div>
</div>
