<div class="relative flex flex-col space-y-2">
    <!-- Image of the "famous" movie of the genre -->
    <div class="relative">
        <img class="h-96 w-full object-cover object-center opacity-75" [ngSrc]="'https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/' + actor.profile_path" alt="Poster" [width]="1920" [height]="800" priority />
        <div class="absolute inset-0 bg-gradient-to-tr from-[#100F10] from-0% to-transparent to-100%"></div>
        <div class="absolute inset-0 bg-gradient-to-tl from-[#100F10] from-0% to-transparent to-80%"></div>
        <div class="absolute bottom-0 left-0 h-24 w-full bg-gradient-to-b from-transparent to-[#100F10]"></div>

        <!-- Name of the actor -->
        <div class="absolute top-0 flex h-full w-full flex-col justify-center px-12">
            <h2 class="text-4xl font-semibold">{{actor.name}}</h2>
            <p>Fan de {{actor.name}} ? Vous pourrez aimer les films suivants !</p>
        </div>
    </div>

    <app-search-list-movies [movies]="actorMovies"></app-search-list-movies>
</div>

