<div class="relative space-y-1">
    <div class="grid grid-cols-6">
        @for (person of (crew.slice(0, limit));track person.name) {
            <div class="flex transform items-center justify-center p-0.5 transition-transform">
            <span [attr.data-tooltip]="person.job" class="tooltip tooltip-top w-full">
                <p class="text-sm bg-greyRipple text-center rounded-sm truncate px-1 hover:text-primary cursor-pointer transition-all">{{person.name}}</p>
            </span>
            </div>
        }
    </div>

    <!-- "Voir plus" -->
    <div class="flex w-full items-center justify-center">
        @if (!showAll && crew.length > limit) {
            <button class="whitespace-no-wrap btn btn-xs text-ellipsis text-xs w-1/3 hover:bg-primary transition-all" (click)="showAllCrew()">Voir plus...</button>
        } @else if (showAll && crew.length > limit) {
            <button class="whitespace-no-wrap btn btn-xs text-ellipsis text-xs w-1/3 hover:bg-primary transition-all" (click)="showLessCrew()">Voir moins</button>

        } @else {
            <button></button>
        }
    </div>
</div>
