<div class="flex h-full flex-col justify-between">
    <div class="flex flex-col justify-center space-y-14">
        <!-- Input fields -->
        <div class="flex w-full flex-col space-y-3">
            <div class="flex w-full flex-col space-y-0.5">
                <p class="pl-1">Mot de passe</p>
                <input class="input-login focus:ring-1 focus:ring-primary" placeholder="Entrez votre mot de passe" />
            </div>

            <div class="flex w-full flex-col space-y-0.5 pt-4">
                <p class="pl-1">Confirmation</p>
                <input class="input-login focus:ring-1 focus:ring-primary" placeholder="Entrez le même mot de passe" />
            </div>
        </div>
    </div>

    <!-- Submit button -->
    <div class="flex justify-center space-y-1.5 pb-4">
        <button class="btn btn-rounded w-4/6 hover:bg-primary" (click)="incrementStep()">Continuer</button>
    </div>
</div>
