<div class="pt-10 flex flex-col items-center w-full">

  <!-- Input fields -->
  <div class="flex flex-col w-full space-y-6">
    <div class="flex flex-col space-y-0.5 w-full">
      <p class="pl-1">Nom</p>
      <input class="input input-sm focus:ring-1 focus:ring-primary" placeholder="Entrez votre nom"/>
    </div>

    <div class="flex flex-col space-y-0.5 w-full">
      <p class="pl-1">Prénom</p>
      <input class="input input-sm focus:ring-1 focus:ring-primary" placeholder="Entrez votre prénom"/>
    </div>

    <div class="flex flex-col space-y-0.5 w-full">
      <p class="pl-1">Email</p>
      <input class="input input-sm focus:ring-1 focus:ring-primary" placeholder="Entrez votre email"/>
    </div>
  </div>



</div>
