<div class="flex h-1/6 items-center justify-evenly border-b border-custom-border">
    <tabler-icon class="cursor-pointer" (click)="addToWatchlist()" name="eye-check" style="width: 35px; height: 35px"></tabler-icon>
    <tabler-icon name="heart" style="width: 35px; height: 35px"></tabler-icon>
    <tabler-icon name="clock-plus" style="width: 35px; height: 35px"></tabler-icon>
</div>
<div class="flex h-1/6 items-center justify-evenly border-b border-custom-border">
    <app-stars [value]="rating/2" [stars]="5" size="w-9"></app-stars>
</div>
<div class="flex h-1/6 items-center justify-evenly border-b border-custom-border"></div>
<div class="flex h-3/6 items-center justify-evenly">
    <app-ratings-graph></app-ratings-graph>
</div>
