<div class="flex h-full flex-col justify-between">
    <div class="flex items-center justify-evenly pt-4">
        <span class="tooltip tooltip-top cursor-pointer" data-tooltip="Ajouter a ma watchlist">
            <tabler-icon name="eye-plus" style="width: 60px"></tabler-icon>
        </span>
        <span class="tooltip tooltip-top cursor-pointer" data-tooltip="Ajouter a une liste">
            <tabler-icon name="text-plus" style="width: 60px"></tabler-icon>
        </span>
    </div>
    <div class="flex items-center justify-evenly">
        <app-stars-hoverable [starSize]="1.8" (ratingChange)="handleRatingChange($event)" [rating]="selectedRating"></app-stars-hoverable>
    </div>

    <div class="flex items-center justify-evenly">
        <app-ratings-graph [reviews]="reviews"></app-ratings-graph>
    </div>
</div>
