{
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "trailingComma": "none",
    "bracketSameLine": true,
    "printWidth": 280,
    "linebreak-style": [true, "LF"],
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "html"
            }
        }
    ],
    "plugins": ["prettier-plugin-tailwindcss"]
}
