<div class="my-20 mx-4 space-y-8">
    <div>
        <h2 class="text-3xl font-bold">Politique de confidentialité</h2>
        <p class="text-xs text-gray-300">Dernière mise à jour : 28/03/2024</p>

    </div>
    <div class="space-y-2">
        <p>Bienvenue sur Pelliculum. La protection de votre vie privée est primordiale pour nous. Cette politique de
            confidentialité vise à vous informer sur les données que nous collectons, pourquoi nous les collectons, et
            comment nous les utilisons et les protégeons. En utilisant Pelliculum, vous consentez à la collecte et à
            l'utilisation d'informations conformément à cette politique.</p>
    </div>

    <div class="space-y-4">
        <h3 class="text-2xl">Collecte et Utilisation des Informations</h3>
        <p>Nous collectons plusieurs types d'informations pour diverses finalités afin de fournir et d'améliorer notre
            service à vous.</p>
        <h3 class="text-xl">Types de Données Collectées</h3>
        <div class="space-y-2">
            <h4 class="text">Données Personnelles</h4>
            <p class="text-sm">Lors de l'utilisation de notre Service, nous pouvons vous demander de nous fournir
                certaines informations personnellement identifiables qui peuvent être utilisées pour vous contacter ou
                vous identifier. Les informations personnellement identifiables peuvent inclure, mais ne sont pas
                limitées à :</p>
            <ul class="text-sm list-disc pl-6">
                <li>Adresse e-mail</li>
                <li>Nom et prénom</li>
                <li>Cookies et données d'utilisation</li>
            </ul>
        </div>
        <div>
            <h4 class="text">Données d'Utilisation</h4>
            <p class="text-sm">Nous pouvons également collecter des informations sur la manière dont l'accès au service
                est fait et utilisé. Ces données d'utilisation peuvent inclure des informations telles que l'adresse de
                protocole Internet de votre ordinateur (par exemple, l'adresse IP), le type de navigateur, la version du
                navigateur, les pages de notre service que vous visitez, l'heure et la date de votre visite, le temps
                passé sur ces pages, et d'autres données de diagnostic.
            </p></div>
    </div>

    <div class="space-y-4">
        <h3 class="text-2xl">Utilisation des Données</h3>
        <div class="space-y-2">
            <h4 class="text">Pelliculum utilise les données collectées à diverses fins :</h4>
            <ul class="text-sm list-disc pl-6">
                <li>Pour fournir et maintenir notre Service</li>
                <li>Pour vous notifier des changements apportés à notre Service</li>
                <li>Pour vous permettre de participer à des fonctionnalités interactives de notre Service lorsque vous
                    choisissez de le faire
                </li>
                <li>Pour fournir un support client</li>
                <li>Pour recueillir des analyses ou des informations précieuses afin d'améliorer notre Service</li>
                <li>Pour surveiller l'utilisation de notre Service</li>
                <li>Pour détecter, prévenir et traiter les problèmes techniques</li>
            </ul>
            <p class="text-sm">
                Pelliculum prendra toutes les mesures raisonnablement nécessaires pour s'assurer que vos données sont
                traitées en toute sécurité et conformément à cette politique de confidentialité. Aucun transfert de vos
                Données Personnelles ne sera effectué à une organisation ou à un pays à moins qu'il n'y ait des
                contrôles adéquats en place, y compris la sécurité de vos données et autres informations personnelles.
            </p>
        </div>
    </div>
</div>