<div class="space-y-8">
    <!-- Name part -->
    <div class="flex h-16 border-b border-custom-light-border pb-6">
        <p class="pr-20">Nom</p>
        <div class="flex w-5/12 justify-between">
            <app-input-custom value="{{name}}"></app-input-custom>
            <app-input-custom value="{{lastname}}"></app-input-custom>
        </div>
    </div>

    <!-- Email part-->
    <div class="flex h-16 border-b border-custom-light-border pb-6">
        <p class="pr-20">Email</p>
        <div class="w-5/12 space-x-20">
            <app-input-custom value="{{email}}" size="w-full" type="disabled"></app-input-custom>
        </div>
    </div>

    <!-- Profile picture part-->
    <div class="flex h-24 items-center border-b border-custom-light-border pb-6">
        <div class="pr-20">
            <p>Votre photo</p>
            <p class="text-xs text-gray-500">Visible des autres utilisateurs</p>
        </div>
        <div class="photo-container flex items-center space-x-4">
            <label for="modal-1">
                <div class="relative">
                    <img [src]="photo" alt="photo" class="h-16 w-16 rounded-full" />
                    <div class="edit-overlay absolute inset-0 hidden items-center justify-center rounded-full bg-black bg-opacity-50">
                        <span class="icon-pencil text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                                <path d="M13.5 6.5l4 4" />
                            </svg>
                        </span>
                    </div>
                </div>
            </label>
        </div>
    </div>

    <!-- Nickname part -->
    <div class="flex h-16 pb-6">
        <p class="pr-20">Pseudo</p>
        <div class="w-5/12 space-x-20">
            <app-input-custom value="{{pseudo}}" size="w-full"></app-input-custom>
        </div>
    </div>

    <div>
        <div class="flex justify-end">
            <button class="btn rounded-md bg-primary p-1.5">Enregistrer les modifications</button>
        </div>
    </div>
</div>

<input class="modal-state" id="modal-1" type="checkbox" />
<div class="modal w-screen">
    <label class="modal-overlay" for="modal-1"></label>
    <div class="modal-content flex max-w-3xl flex-col gap-5">
        <label for="modal-1" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</label>
        <div class="flex items-center gap-4 p-4">
            <img [src]="tempSrc" alt="photo" class="h-32 w-32 rounded-full" />
            <input type="file" (change)="onFileSelected($event)" class="input-file" />
        </div>

        <label for="modal-1" (click)="onFileSaved()" class="btn btn-block"> Sauvegarder </label>
    </div>
</div>
