.tabs-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); /* Bordure blanche avec une opacité de 50% */
}

.tab {
  cursor: pointer;
  padding-bottom: 6px;
  margin-bottom: -7.5px;
}

.active {
  border-bottom: 3px solid #C8291E;
}
