<div>
  <h2 class="text-5xl pb-10 pt-8">Paramètres</h2>

  <!-- Tabs -->
  <div class="flex space-x-16 pb-1.5 border-b border-custom-border">
    <p (click)="selectTab('customization')" class="tracking-wider"
       [class]="activeTab === 'customization' ? 'tab active' : 'tab'">Informations personnelles</p>
    <p (click)="selectTab('security')" class="tracking-wider"
       [class]="activeTab === 'security' ? 'tab active' : 'tab'">Connexion et sécurité</p>
  </div>

  <!-- Active Tab Content -->
  <div class="pt-10 pl-1">
    <ng-content></ng-content>
  </div>
</div>
