<div class="p-24 bg-black flex flex-col justify-center items-center">
  <!-- Title -->
  <div class="relative">
    <label for="modal-1" class="cursor-pointer">
            <span
              class="absolute -top-2 -right-7 rounded-full px-[6px] py-[2px] text-xs h-[16px] flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help-hexagon" width="24"
                 height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                 stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path
              d="M19.875 6.27c.7 .398 1.13 1.143 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"/><path
              d="M12 16v.01"/><path d="M12 13a2 2 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483"/></svg>
        </span>
    </label>


    <h2 class="text-center text-4xl">Classic mode</h2>
  </div>
  <div class="flex flex-col justify-center items-center pt-10 space-y-8 w-full">
    <app-game-genres [filmGenre]="filmGenres" [guessGenre]="guessGenres"></app-game-genres>
    <app-game-date></app-game-date>
    <app-game-actors class="w-1/2"></app-game-actors>
  </div>


  <button class="pt-20" (click)="test()">test</button>
</div>


<input class="modal-state" id="modal-1" type="checkbox"/>
<div class="modal">
  <label class="modal-overlay" for="modal-1"></label>
  <div class="modal-content flex flex-col gap-5">
    <label for="modal-1" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</label>
    <h2 class="text-xl">Comment jouer ?</h2>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolorum voluptate ratione dicta. Maxime cupiditate, est commodi consectetur earum iure, optio, obcaecati in nulla saepe maiores nobis iste quasi alias!</span>

  </div>
</div>
