<div class="fixed left-0 top-0 z-10 flex h-14 w-full items-center justify-between border-b border-custom-border px-3 pl-12 shadow-xl backdrop-blur-[3px]">
    <a [routerLink]="'/'" class="flex flex-row items-center justify-center space-x-2">
        <img ngSrc="assets/icon.png" alt="icon" class="w-10 h-10 rounded-full border" height="701" width="709" />
        <p class="bebas-neue-regular text-4xl mt-1.5">Pelliculum</p>
    </a>
    <div>
        <app-header-sign></app-header-sign>
    </div>
</div>
