<div class="flex flex-col space-y-32 overflow-x-hidden">
    <!--  Carousel -->
    <app-home-carousel [movies]="topMovies"></app-home-carousel>

    <div class="flex flex-col space-y-14">
        <!-- Categories -->
        <app-home-discover/>

        <!-- Next release -->
        <app-home-next-release [upcomings]="upcomings"/>

        <!-- Best lists -->
        <div class="space-y-2 px-12">
            <div class="flex flex-col space-y-0">
                <div class="flex flex-row items-center justify-between">
                    <p class="text-2xl font-normal">Les listes populaires</p>
                    <p class="cursor-pointer">Voir plus</p>
                </div>
                <div class="divider"></div>
            </div>

            <div class="grid grid-cols-4 gap-x-20">
                <app-movie-list *ngIf="watchlist" [list]="watchlist"></app-movie-list>
                <app-movie-list *ngIf="watchlist" [list]="watchlist"></app-movie-list>
                <app-movie-list *ngIf="watchlist" [list]="watchlist"></app-movie-list>
                <app-movie-list *ngIf="watchlist" [list]="watchlist"></app-movie-list>
            </div>
        </div>

        <!-- Ratings -->
        <div class="space-y-2 px-12">
            <div class="flex flex-col space-y-0">
                <div class="flex flex-row items-center justify-between">
                    <p class="text-2xl font-normal">Avis populaires cette semaine</p>
                    <p class="cursor-pointer">Voir plus</p>
                </div>
                <div class="divider"></div>
            </div>

            <div class="grid grid-cols-1 gap-x-12 gap-y-12 xl:grid-cols-2">
                @for (rating of ratings;track rating.user) {
                <app-home-movie-rating [rating]="rating"></app-home-movie-rating>
                }
            </div>
        </div>
    </div>
</div>