<div class="flex flex-col space-y-32 overflow-x-hidden">
    <!--  Carousel -->
    <app-home-carousel [movies]="topMovies"></app-home-carousel>

    <div class="flex flex-col space-y-14">
        <!-- Categories -->
        <app-home-discover/>

        <!-- Next release -->
        <div class="space-y-2 px-12">
            <div class="flex flex-col space-y-0">
                <div class="flex flex-row items-center justify-between">
                    <p class="text-2xl font-normal">Ils sortent bientôt ...</p>
                    <p class="cursor-pointer">Voir plus</p>
                </div>
                <div class="divider"></div>
            </div>

            <div class="grid gap-x-4 gap-y-2 xs:grid-cols-5 sm:grid-cols-7 md:grid-cols-7 lg:grid-cols-10 xl:grid-cols-10">
                @for (upcoming of upcomings; track upcoming.id){
                <img
                    class="w-fit rounded-lg"
                    style="
                        box-shadow:
                            rgba(200, 41, 30, 0.03) 0px 13px 27px -5px,
                            rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
                    "
                    [src]="'https://image.tmdb.org/t/p/w220_and_h330_face' + upcoming.poster_path"
                    alt="e" />
                }
            </div>
        </div>

        <!-- Best lists -->
        <div class="space-y-2 px-12">
            <div class="flex flex-col space-y-0">
                <div class="flex flex-row items-center justify-between">
                    <p class="text-2xl font-normal">Les listes populaires</p>
                    <p class="cursor-pointer">Voir plus</p>
                </div>
                <div class="divider"></div>
            </div>

            <div class="grid grid-cols-4 gap-x-20">
                <app-movie-list *ngIf="watchlist" [list]="watchlist"></app-movie-list>
                <app-movie-list *ngIf="watchlist" [list]="watchlist"></app-movie-list>
                <app-movie-list *ngIf="watchlist" [list]="watchlist"></app-movie-list>
                <app-movie-list *ngIf="watchlist" [list]="watchlist"></app-movie-list>
            </div>
        </div>

        <!-- Ratings -->
        <div class="space-y-2 px-12">
            <div class="flex flex-col space-y-0">
                <div class="flex flex-row items-center justify-between">
                    <p class="text-2xl font-normal">Avis populaires cette semaine</p>
                    <p class="cursor-pointer">Voir plus</p>
                </div>
                <div class="divider"></div>
            </div>

            <div class="grid grid-cols-1 gap-x-12 gap-y-12 xl:grid-cols-2">
                @for (rating of ratings;track rating.user) {
                <app-home-movie-rating [rating]="rating"></app-home-movie-rating>
                }
            </div>
        </div>
    </div>
</div>
