<a [routerLink]="url" class="group flex h-20 cursor-pointer flex-row items-center space-x-2 rounded-lg border border-[#191919] bg-[#161616] px-6 text-[#FDFDFD] shadow-md">
    <div class="flex w-full flex-row items-center justify-between">
        <div class="flex flex-row">
            <i-tabler name="{{genre?.icon}}"></i-tabler>
            <div class="flex flex-col">
                <p class="font-medium">{{genre?.name}}</p>
                <p class="text-sm text-gray-300">12 films</p>
            </div>
        </div>
        <i-tabler name="arrow-narrow-right" class="transition group-hover:translate-x-1.5 group-hover:text-primary" />
    </div>
    <p></p>
</a>
