<a [routerLink]="url" class="group h-20 cursor-pointer flex w-full flex-row items-center justify-between rounded-lg border border-[#191919] bg-[#161616] px-4 text-[#FDFDFD] shadow-md">
    <div class="flex flex-row items-center space-x-4">
        <i-tabler name="{{genre?.icon}}"></i-tabler>
        <div class="flex flex-col">
            <p class="font-medium">{{genre?.name}}</p>
            <p class="text-sm text-gray-300">12 films</p>
        </div>
    </div>
    <i-tabler name="arrow-narrow-right" class="transition group-hover:translate-x-1.5 group-hover:text-primary" />
</a>
