<div class="my-20 mx-4 space-y-8">
    <h2 class="text-3xl font-bold">Conditions d'utilisation de Pelliculum</h2>
    <div class="space-y-2">
        <h3 class="text-xl">1. Introduction</h3>
        <p class="text-sm">Bienvenue sur Pelliculum, une plateforme dédiée à permettre aux utilisateurs de noter et de commenter les
            films qu'ils ont vus. En accédant et en utilisant Pelliculum, vous acceptez de vous conformer aux conditions
            d'utilisation suivantes, qui sont conçues pour assurer une expérience positive pour tous nos utilisateurs.
            Si vous n'acceptez pas ces conditions, vous ne devez pas utiliser Pelliculum.</p>
    </div>
    <div class="space-y-2">
        <h3 class="text-xl">2. Utilisation autorisée</h3>
        <p class="text-sm">a. Pelliculum est exclusivement destiné à un usage personnel, non commercial. Vous pouvez utiliser Pelliculum
            pour enregistrer, noter et commenter les films que vous avez vus, ainsi que pour voir les évaluations et les
            commentaires d'autres utilisateurs.</p>
        <p class="text-sm">
            b. Il est interdit de manipuler ou de tenter de manipuler les notes ou les commentaires de quelque manière
            que ce soit qui altérerait l'intégrité des évaluations et des avis sur Pelliculum. Cela inclut, sans
            limitation, le recours à des moyens automatisés pour influencer les notes ou générer des avis, ou la
            création de plusieurs comptes pour abuser des fonctionnalités du site.</p>
    </div>
    <div class="space-y-2">
        <h3 class="text-xl">3. Propriété intellectuelle</h3>
        <p class="text-sm">Les contenus publiés sur Pelliculum, y compris, sans limitation, les textes, graphiques, logos et icônes,
            sont protégés par le droit d'auteur, sauf indication contraire. Vous vous engagez à ne pas copier,
            reproduire, modifier, distribuer, afficher, exécuter ou utiliser de quelque manière que ce soit ces contenus
            sans l'autorisation préalable écrite de Pelliculum ou du titulaire des droits.</p>
    </div>
    <div class="space-y-2">
        <h3 class="text-xl">4. Responsabilité de l'utilisateur</h3>
        <p class="text-sm">En tant qu'utilisateur de Pelliculum, vous êtes seul responsable des évaluations, commentaires et autres
            contenus que vous publiez sur la plateforme. Vous garantissez que vos contributions sont exactes, ne violent
            aucun droit d'auteur, droit à l'image, droit à la vie privée ou autre droit de tiers, et ne contiennent
            aucun matériel diffamatoire ou autrement illégal.</p>
    </div>
    <div class="space-y-2">
        <h3 class="text-xl">5. Modifications des conditions d'utilisation</h3>
        <p class="text-sm">Pelliculum se réserve le droit de modifier ces conditions d'utilisation à tout moment, à sa seule discrétion.
            Toute modification sera effective immédiatement après sa publication sur le site. En continuant à utiliser
            Pelliculum après de telles modifications, vous acceptez d'être lié par les conditions révisées.</p>
    </div>
    <div class="space-y-2">
        <h3 class="text-xl">6. Contact</h3>
        <p class="text-sm">Pour toute question ou préoccupation concernant ces conditions d'utilisation, veuillez contacter Pelliculum
            via notre page de contact sur le site.</p>
    </div>

</div>