<div>
    <div class="relative">
        <!-- App-backdrop with gradient -->
        <div class="opacity-75">
            <img class="h-80 w-full object-cover" [src]="'https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/' + movie.backdrop_path" alt="Poster" />
            <div class="absolute inset-0 bg-gradient-to-tr from-[#100F10] from-0% to-transparent to-100%"></div>
            <div class="absolute inset-0 bg-gradient-to-tl from-[#100F10] from-0% to-transparent to-80%"></div>
        </div>

        <!-- Presentation -->
        <section class="absolute inset-x-0 flex flex-col space-y-3 p-14 transition-all xs:top-[3%] sm:top-[8%] sm:w-11/12 md:top-[8%] md:w-8/12 lg:top-[12%] xl:top-[15%] xl:w-6/12">
            <!-- Title and genres -->
            <div class="flex flex-row space-x-4">
                <img [alt]="axiosService.getUsername()" class="h-fit w-28 rounded-full" [src]="'http://localhost:8080/profilePictures/' + axiosService.getUsername() + '.jpeg'" />
                <div class="flex flex-col">
                    <h1 class="sm:text-md font-bold text-white md:text-xl lg:text-2xl xl:text-3xl">{{axiosService.getUsername()}}</h1>
                    <p>150 films | 12 likes | 541 revues</p>
                </div>
            </div>
        </section>

        <!-- Gradient bottom to site background color -->
        <div class="absolute bottom-0 left-0 h-24 w-full bg-gradient-to-b from-transparent to-[#100F10]"></div>
    </div>

    <div class="z-0 -mt-16 w-full px-12">
        <app-profile-tabs (tabSelected)="selectTab($event)">
            <app-profile-security-tab *ngIf="activeTab === 'security'"></app-profile-security-tab>
            <app-profile-customization-tab *ngIf="activeTab === 'customization'"></app-profile-customization-tab>
        </app-profile-tabs>
    </div>
</div>
