<div class="space-y-4">
    <!-- Films notés-->
    <div class="space-y-0.5">
        <p class="text-sm">Derniers films notés</p>
        <div class="border-t border-custom-border pt-1 flex space-x-1.5">
            <div class="relative flex justify-center">
                <app-poster posterPath='/abx9jgE6bGVnj1UXfieOYs8zu8z.jpg' [style]="'rounded-lg border border-custom-border h-40 hover:brightness-125 transition cursor-pointer'"/>
                <app-stars class="absolute bottom-2" [stars]="5" [value]="4" size="w-3"></app-stars>
            </div>
            <div class="relative flex justify-center">
                <app-poster posterPath='/abx9jgE6bGVnj1UXfieOYs8zu8z.jpg' [style]="'rounded-lg border border-custom-border h-40 hover:brightness-125 transition cursor-pointer'"/>
                <app-stars class="absolute bottom-2" [stars]="5" [value]="4" size="w-3"></app-stars>
            </div>
            <div class="relative flex justify-center">
                <app-poster posterPath='/abx9jgE6bGVnj1UXfieOYs8zu8z.jpg' [style]="'rounded-lg border border-custom-border h-40 hover:brightness-125 transition cursor-pointer'"/>
                <app-stars class="absolute bottom-2" [stars]="5" [value]="4" size="w-3"></app-stars>
            </div>
        </div>
    </div>


    <!-- Follows -->
    <div class="space-y-0.5">
        <p class="text-sm">Abonnements</p>
        <div class="border-t border-custom-border pt-1 flex space-x-1">
            @for (user of follows; track user){

            }
            <div class="avatar avatar-md cursor-pointer">
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="photo" class="border-2 border-transparent" />
            </div>
        </div>
    </div>
</div>

