<div class="space-y-4">
    <!-- Films notés-->
    <div class="space-y-0.5">
        <p class="text-sm">Derniers films notés</p>
        <div class="flex space-x-1.5 border-t border-custom-border pt-1">
            <ng-container *ngFor="let review of reviews.slice(0, 8)">
                <a *ngIf="review.movie" [routerLink]="Movie.getDetailsPageUrl(review.movie)">
                <div class="relative flex justify-center">
                    <app-poster *ngIf="review && review.movie" [posterPath]="review.movie.backdrop_path" [style]="'rounded-lg border border-custom-border h-40 hover:brightness-125 transition cursor-pointer'"></app-poster>
                    <app-stars *ngIf="review && review.movie" class="absolute bottom-2" [stars]="5" [value]="review.rating" size="w-3"></app-stars>
                </div>
                </a>
            </ng-container>

        </div>
    </div>

    <!-- Follows -->
    <div class="space-y-0.5">
        <p class="text-sm">Abonnements</p>
        <div class="flex space-x-1 border-t border-custom-border pt-1">
            @for (follow of follows; track follow) {
            <a [routerLink]="'/'+User.getProfileUrl(follow)" class="popover popover-hover">
                <label class="popover-trigger">
                    <div class="avatar avatar-md cursor-pointer">
                        <img [src]="usersService.getProfilePicture(follow)" alt="photo" class="border-2 border-transparent" />
                    </div>
                </label>
                <div class="popover-content popover-top-center w-min">
                    <div class="popover-arrow"></div>
                    <div class="flex justify-center text-sm">{{follow.username}}</div>
                </div>
            </a>

            }
        </div>
    </div>
</div>
