<div>
    <!-- Tabs -->
    <div class="relative flex space-x-16 rounded-lg py-2.5 pr-16 pb-1.5 bg-[#161616]">
        <div id="marker" class="absolute -bottom-0 left-0 h-0.5 w-0 rounded bg-red-500 transition-all"></div>
        <a (click)="selectTab('profile'); indicator($event)" class="tracking-w cursor-pointer tab">Profil</a>
        <a (click)="selectTab('profile'); indicator($event)" class="tracking-w cursor-pointer tab">Amis</a>
        <a (click)="selectTab('profile'); indicator($event)" class="tracking-w cursor-pointer tab">Watchlist</a>
        <a (click)="selectTab('profile'); indicator($event)" class="tracking-w cursor-pointer tab">Listes</a>
        <a (click)="selectTab('profile'); indicator($event)" class="tracking-w cursor-pointer tab">Films</a>
        <div class="flex-grow"></div>
        <a (click)="selectTab('customization'); indicator($event)" id="profile-private-info" class="tracking-wider cursor-pointer tab">Informations personnelles</a>
        <a (click)="selectTab('security'); indicator($event)" class="tracking-wider cursor-pointer tab">Connexion et sécurité</a>
    </div>

    <!-- Active Tab Content -->
    <div class="pl-1 pt-10">
        <ng-content></ng-content>
    </div>
</div>

<style></style>
