<div class="space-y-12">
  <div class="flex flex-col items-center space-y-1">
    <p class="text-4xl font-bold">Bienvenue</p>
    @if (step == 1) {
      <p class="text-xs opacity-70">1ère règle : Vous ne parlez pas de Pelliculum</p>
    } @else if (step == 2) {
      <p class="text-xs opacity-70">2ème règle : Vous ne parlez PAS de Pelliculum</p>
    } @else if (step == 3) {
      <p class="text-xs opacity-70">3ème règle : Si quelqu'un crie "stop", le combat est terminé</p>
    } @else if (step == 4) {
      <p class="text-xs opacity-70">4ème règle : Si c'est votre première fois sur Pelliculum, vous devez noter un film</p>
    }
  </div>

  <div class="flex justify-center">
    <div class="w-4/6">
      <ol class="steps">
        <li [ngClass]="{
      'step-primary': true,
      'step-active': step === 1,
      'step-done': step > 1
    }" class="step overflow-hidden">
          <div class="step-circle">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"/>
              <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"/>
            </svg>
          </div>
        </li>
        <li [ngClass]="{
      'step-primary': true,
      'step-active': step === 2,
      'step-done': step > 2
    }" class="step overflow-hidden">
          <div class="step-circle">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M7.49987 13.475L4.6082 10.5833C4.2832 10.2583 3.7582 10.2583 3.4332 10.5833C3.1082 10.9083 3.1082 11.4333 3.4332 11.7583L6.91654 15.2416C7.24154 15.5666 7.76654 15.5666 8.09154 15.2416L16.9082 6.42498C17.2332 6.09998 17.2332 5.57498 16.9082 5.24998C16.5832 4.92498 16.0582 4.92498 15.7332 5.24998L7.49987 13.475Z"
                    class="fill-primary"/>
            </svg>
          </div>
        </li>
        <li [ngClass]="{
      'step-primary': true,
      'step-active': step === 3,
      'step-done': step > 3
    }" class="step overflow-hidden">
          <div class="step-circle">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M7.49987 13.475L4.6082 10.5833C4.2832 10.2583 3.7582 10.2583 3.4332 10.5833C3.1082 10.9083 3.1082 11.4333 3.4332 11.7583L6.91654 15.2416C7.24154 15.5666 7.76654 15.5666 8.09154 15.2416L16.9082 6.42498C17.2332 6.09998 17.2332 5.57498 16.9082 5.24998C16.5832 4.92498 16.0582 4.92498 15.7332 5.24998L7.49987 13.475Z"
                    class="fill-primary"/>
            </svg>
          </div>
        </li>

        <li [ngClass]="{
      'step-primary': true,
      'step-active': step === 4,
      'step-done': step > 4
    }" class="step overflow-hidden">
          <div class="step-circle">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M7.49987 13.475L4.6082 10.5833C4.2832 10.2583 3.7582 10.2583 3.4332 10.5833C3.1082 10.9083 3.1082 11.4333 3.4332 11.7583L6.91654 15.2416C7.24154 15.5666 7.76654 15.5666 8.09154 15.2416L16.9082 6.42498C17.2332 6.09998 17.2332 5.57498 16.9082 5.24998C16.5832 4.92498 16.0582 4.92498 15.7332 5.24998L7.49987 13.475Z"
                    class="fill-primary"/>
            </svg>
          </div>
        </li>
      </ol>

    </div>
  </div>

</div>

