<!-- Connected signup part-->
<div class="flex items-center space-x-6">
    @if (user.isLoggedIn()){
    <!-- Message icon -->
    <!--    <div class="relative pt-2">-->
    <!--        <span class="absolute -right-2 -top-0 flex h-[20px] items-center justify-center rounded-full bg-primary px-[6px] py-[2px] text-xs text-white">{{ notif }}</span>-->
    <!--        <i-tabler name="message" />-->
    <!--    </div>-->
    <!-- Notification icon
    <app-header-notification></app-header-notification>
    -->
    <!-- Profile picture -->
    <app-header-picture></app-header-picture>

    } @else {
    <!-- Disconnected signup part-->
    <a [routerLink]="'/login'" class="w-fit rounded-lg border border-[#E62C1D] bg-[#C8291E] px-1.5 py-1 text-white shadow-xl transition hover:bg-[#E62C1D]">Se connecter</a>
    }
</div>
