<div class="relative z-0">
    <!-- App-backdrop with gradient -->
    <div class="opacity-75">
        <img *ngIf="movie" [src]="'https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/' + movie.backdrop_path" alt="Poster" class="h-96 w-full object-cover" />
        <div class="absolute inset-0 bg-gradient-to-tr from-[#100F10] from-0% to-transparent to-100%"></div>
        <div class="absolute inset-0 bg-gradient-to-tl from-[#100F10] from-0% to-transparent to-80%"></div>
    </div>

    <!-- Gradient bottom to site background color -->
    <div class="absolute bottom-0 left-0 h-24 w-full bg-gradient-to-b from-transparent to-[#100F10]"></div>
</div>

<div class="px-12 -mt-52 z-10">
    <form [formGroup]="profileForm" (ngSubmit)="save()" class="space-y-8">
        <!-- Profile picture part-->
        <div class="flex items-center space-x-14  z-10">
            <div class=" z-10">
                <p>Votre photo</p>
                <p class="text-xs text-gray-500">Visible des autres utilisateurs</p>
            </div>

            <!-- Modal profile picture -->
            <div class="photo-container flex items-center space-x-4 z-10">
                <label for="modal-1">
                    <div class="relative cursor-pointer z-10">
                        <img [src]="userService.getProfileImage()" alt="photo" class="h-16 w-16 rounded-full" />
                        <div class="edit-overlay absolute inset-0 hidden items-center justify-center rounded-full bg-black bg-opacity-50 z-10">
                            <span class="icon-pencil text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                                    <path d="M13.5 6.5l4 4" />
                                </svg>
                            </span>
                        </div>
                    </div>
                </label>
            </div>
        </div>

        <div class="divider z-10"></div>

        <!-- Name part -->
        <div class="flex items-center space-x-14 z-10">
            <p class="w-1/48 z-10">Nom</p>
            <div class="flex w-5/12 space-x-12 z-10">
                <input formControlName="firstname" class="input transition focus:border-cinema z-10" />
                <input formControlName="lastname" class="input transition focus:border-cinema z-10" />
            </div>
        </div>

        <div class="divider z-10"></div>

        <!-- Email part-->
        <div class="flex items-center space-x-14 z-10">
            <p class="w-1/48 z-10">Email</p>
            <input formControlName="email" class="input w-5/12 transition focus:border-cinema z-10" />
        </div>

        <div class="divider"></div>

        <!-- Nickname part -->
        <div class="flex items-center space-x-14 z-10">
            <p class="w-1/48">Pseudo</p>
            <input formControlName="username" class="input w-5/12 transition focus:border-cinema" />
        </div>

        <div class="flex justify-end">
            <button class="btn rounded-md bg-primary p-1.5">Enregistrer les modifications</button>
        </div>
    </form>

    <!-- Modal changing profile picture -->
    <input class="modal-state" id="modal-1" type="checkbox" />
    <div class="modal w-screen">
        <label class="modal-overlay" for="modal-1"></label>
        <div class="modal-content flex max-w-3xl flex-col gap-5">
            <label for="modal-1" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</label>
            <div class="flex items-center gap-4 p-4">
                <img [src]="photo" alt="photo" class="h-32 w-32 rounded-full" />
                <input type="file" (change)="onFileSelected($event)" class="input-file" />
            </div>

            <label for="modal-1" (click)="save()" class="btn btn-block"> Sauvegarder </label>
        </div>
    </div>
</div>
