<div class="relative">
    <div class="mb-4 p-4 border border-gray-300 rounded">
        <div class="flex flex-wrap">
            @for (actor of cast; track actor) {
                <div class="flex items-center justify-center w-full lg:w-1/3 md:w-1/2 sm:w-full space-x-2 mb-2 p-2 transition-transform transform hover:scale-105">
                    <span [attr.data-tooltip]="actor.character" class="tooltip tooltip-top">
                        <button class="btn">{{ actor.name }}</button>
                    </span>
                </div>
            }
        </div>
    </div>
</div>
