<div class="relative space-y-1">
    <div class="grid grid-cols-4">
        @for (actor of (showAll ? cast : cast.slice(0, limit));track actor.name) {
        <div class="flex transform items-center justify-center p-0.5 transition-transform">
            <span [attr.data-tooltip]="actor.character" class="tooltip tooltip-top w-full">
                <p class="cursor-pointer truncate rounded-sm bg-greyRipple px-1 text-center text-sm transition-all hover:text-primary">{{actor.name}}</p>
            </span>
        </div>
        }
    </div>

    <!-- "Voir plus" -->
    <div class="flex w-full items-center justify-center">
        @if (!showAll && cast.length > limit) {
        <button class="whitespace-no-wrap btn btn-xs w-1/3 text-ellipsis text-xs transition-all hover:bg-primary" (click)="showAllActors()">Voir plus...</button>
        } @else if (showAll && cast.length > limit) {
        <button class="whitespace-no-wrap btn text-ellipsis text-xs" (click)="showLessActors()">Voir moins</button>
        } @else {
        <button></button>
        }
    </div>
</div>
