<div class="space-y-6">

  <!-- Prenom | Nom -->
  <div class="flex border-b border-custom-light-border pb-6 h-16">
    <p class="pr-20">Nom</p>
    <div class="w-5/12 flex justify-between">
      <app-input-custom value="{{name}}"></app-input-custom>
      <app-input-custom value="{{lastname}}"></app-input-custom>
    </div>
  </div>

  <!-- Email -->
  <div class="flex border-b border-custom-light-border pb-6 h-16">
    <p class="pr-20">Email</p>
    <div class="space-x-20 w-5/12">
      <app-input-custom value="{{email}}" size="w-full"></app-input-custom>
    </div>
  </div>

  <!-- Photo de profil -->
  <div class="flex items-center border-b border-custom-light-border pb-6 h-24">
    <div class="pr-20">
      <p>Votre photo</p>
      <p class="text-xs text-gray-500">Visible des autres utilisateurs</p>
    </div>
    <div class="flex items-center space-x-4">
      <img src="{{photo}}" alt="photo" class="w-16 h-16 rounded-full">
    </div>
  </div>

  <!-- Pseudo -->
  <div class="flex border-b border-custom-light-border pb-6 h-16">
    <p class="pr-20">Pseudo</p>
    <div class="space-x-20 w-5/12">
      <app-input-custom value="{{pseudo}}" size="w-full"></app-input-custom>
    </div>


  </div>
</div>
