.notification-icon
  position: relative
  display: inline-block

.notification-number
  position: absolute
  top: -10px // Ajustez cette valeur pour positionner verticalement
  right: -10px // Ajustez cette valeur pour positionner horizontalement
  background-color: red
  color: white
  border-radius: 50%
  padding: 0 6px // Ajustez le padding pour gérer la taille du nombre
  font-size: 12px // Ajustez la taille du texte si nécessaire
  height: 20px // Ajustez la hauteur pour s'adapter au contenu
  display: flex
  align-items: center
  justify-content: center

// Variables pour les couleurs du gradient (ajustez selon vos préférences)
$gradient-start: #FDFDFD
$gradient-end: #C8291E


// Mixin pour le border-radius (réutilisable)
@mixin border-radius($radius)
  border-radius: $radius
  -webkit-border-radius: $radius
  -moz-border-radius: $radius

.avatar-wrapper
  display: inline-block
  background: linear-gradient(to right, $gradient-start, $gradient-end) // Utilisation des variables
  @include border-radius(50%) // Utilisation du mixin pour border-radius
  padding: 1px // Épaisseur de la 'bordure' gradient

  a
    display: block
    @include border-radius(50%) // Utilisation du mixin pour border-radius
    line-height: 0 // Pour enlever l'espace supplémentaire sous l'image

  .avatar
    display: block
    width: 36px // Ajustez selon vos besoins
    height: 36px // Ajustez selon vos besoins
    @include border-radius(50%) // Utilisation du mixin pour border-radius
    border: 2px solid transparent // Garde la dimension de l'image si nécessaire
