<div class="accordion flex flex-col space-y-4">
    <div class="flex flex-row items-center justify-between">
        <h3 class="text-lg">Mes listes</h3>
        <label class="btn btn-primary btn-sm" for="accordion-create-list">Créer une liste</label>
    </div>

    <div>
        <input class="accordion-toggle" id="accordion-create-list" type="checkbox" />
        <div class="accordion-content border-t border-custom-light-border">
            <div class="flex min-h-0 flex-col space-y-4">
                <form (ngSubmit)="createList()" [formGroup]="listForm" class="space-y-4">
                    <div class="flex flex-col space-y-4">
                        <div class="flex flex-col space-y-0.5">
                            <label class="text-sm" for="name">Nom de la liste</label>
                            <input class="input input-sm rounded-md" formControlName="name" id="name" placeholder="Entrer un nom" type="text" />
                        </div>
                        <div class="flex flex-col space-y-0.5">
                            <label class="text-sm" for="name">Description</label>
                            <textarea class="textarea max-w-full rounded-md" formControlName="description" placeholder="Description !"></textarea>
                        </div>
                    </div>
                    <div class="flex flex-row items-center justify-end space-x-4">
                        <label class="btn btn-sm" for="accordion-create-list">Annuler</label>
                        <button class="btn btn-primary btn-sm" type="submit">Créer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-5">
        @for (list of userLists; track list.id){
        <app-movie-list-card [list]="list"></app-movie-list-card>
        } @empty {
        <p>Créez une liste !</p>
        }
    </div>
</div>
