<script src="https://accounts.google.com/gsi/client" async></script>
<div class="h-screen">
    <div class="flex flex-row">
        <!-- Image et Logo-->
        <div class="w-7/12">
            <a [routerLink]="'/'" class="absolute left-2 top-2 flex flex-row items-center justify-center space-x-2">
                <img ngSrc="assets/icon.png" alt="icon" class="h-10 w-10 rounded-full border" height="701"
                     width="709" />
                <p class="bebas-neue-regular mt-1.5 text-4xl">Pelliculum</p>
            </a>
            <img priority ngSrc="assets/fig.png" alt="Fight Club" class="h-screen w-full object-cover" height="720"
                 width="1280" />
        </div>

        <!-- Left part -->
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="flex w-5/12 flex-col justify-center space-y-16 px-12">
            <div class="flex flex-col items-center space-y-1">
                <p class="text-4xl font-bold">Bon retour</p>
                <p class="text-xs opacity-70">Première règle : Vous ne parlez pas de Pelliculum.</p>
            </div>

            <!-- Input fields -->
            <div class="flex w-full flex-col">
                <div class="flex w-full flex-col space-y-0.5">
                    <label for="loginUsername" class="pl-1">Nom d'utilisateur</label>
                    <input id="loginUsername" name="username" formControlName="username"
                           class="input-login focus:ring-1 focus:ring-primary"
                           placeholder="Entrez votre nom d'utilisateur" required />
                </div>

                <div class="flex w-full flex-col space-y-0.5 pt-4">
                    <label for="loginPassword" class="pl-1">Mot de passe</label>
                    <input id="loginPassword" type="password" formControlName="password"
                           class="input-login focus:ring-1 focus:ring-primary"
                           placeholder="Entrez votre mot de passe" />
                </div>

                <!-- Remember me and forgot password !-->
                <div class="flex justify-between pt-1.5">
                    <label class="flex cursor-pointer gap-2 pl-1 opacity-70 hover:opacity-100">
                        <input type="checkbox" class="checkbox" />
                        <span class="text-sm">Se rappeler de moi</span>
                    </label>
                    <p class="cursor-pointer text-sm opacity-70 hover:opacity-100">Mot de passe oublié</p>
                </div>
            </div>

            <!-- Connect button -->
            <div class="flex w-full flex-col items-center space-y-2.5">
                <!-- Simple connect button -->
                <div class="flex w-3/4 justify-center space-y-1.5">
                    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-rounded w-5/6 hover:bg-primary">
                        Se connecter
                    </button>
                </div>

                <!-- Google connect button -->
                <asl-google-signin-button shape="pill" theme="outline" type='standard' size='medium' class="bg-red-900"></asl-google-signin-button>

                <!-- Not registered yet -->
                <div class="flex justify-center space-x-2">
                    <p class="text-xs opacity-70">Pas encore inscrit ?</p>
                    <p class="cursor-pointer text-xs opacity-70 hover:opacity-100" [routerLink]="'/register'">Créer un
                        compte</p>
                </div>
            </div>
        </form>
    </div>
</div>
