<div class="flex flex-col h-full justify-between">

  <div class="flex flex-col justify-center space-y-14">


    <!-- Input fields -->
    <div class="flex flex-col w-full space-y-3">
      <div class="flex flex-col space-y-0.5 w-full">
        <p class="pl-1">Email</p>
        <input class="input-login focus:ring-1 focus:ring-primary" placeholder="Entrez votre email"/>
      </div>

      <div class="flex flex-col space-y-0.5 w-full pt-4">
        <p class="pl-1">Nom</p>
        <input class="input-login focus:ring-1 focus:ring-primary" placeholder="Entrez votre nom"/>
      </div>

      <div class="flex flex-col space-y-0.5 w-full pt-4">
        <p class="pl-1">Prénom</p>
        <input class="input-login focus:ring-1 focus:ring-primary" placeholder="Entrez votre prénom"/>
      </div>
    </div>
  </div>
  <!-- Submit button -->
  <div class="flex justify-center space-y-1.5 pb-4">
    <button class="btn-rounded btn w-4/6 hover:bg-primary" (click)="incrementStep()">Continuer</button>
  </div>

</div>
