<div class="h-screen">
  <div class="flex flex-row">

    <!-- Image et Logo-->
    <div class="w-7/12">
      <a [routerLink]="'/'" class="flex flex-row items-center justify-center space-x-2 absolute top-2 left-2">
        <img ngSrc="assets/icon.png" alt="icon" class="h-10 w-10 rounded-full border" height="701" width="709" />
        <p class="bebas-neue-regular mt-1.5 text-4xl">Pelliculum</p>
      </a>
      <img ngSrc="assets/fig.png" alt="Fight Club" class="w-full h-screen object-cover" height="720" width="1280">
    </div>

    <!-- Left part -->
    <div class="w-5/12 px-12 flex flex-col py-12">

      <app-signup-progression [step]="step"></app-signup-progression>


      @if (step == 1){
        <app-signup-information (increment)="incrementStep()"></app-signup-information>
      }
      @else if (step == 2){
        <app-signup-preferences (increment)="incrementStep()"></app-signup-preferences>
      }
    </div>

  </div>
</div>
