<div class="pt-28 h-screen">
  <div class="flex justify-evenly">
    <app-logo-movie-poster class="w-5/12" ></app-logo-movie-poster>
    <!-- Input -->
    <div class="flex flex-col w-4/12 items-center">

      <div class="flex flex-col items-center space-y-1">
        <p class="text-4xl font-bold">Bienvenue</p>
        @if (step === 1){
          <p class="text-xs opacity-70">You do not talk about Pelliculum...</p>

        } @else if (step === 2){
          <p class="text-xs opacity-70">You do NOT talk about Pelliculum.</p>
        } @else if (step === 3){
          <p class="text-xs opacity-70">If this is your first time at Pelliculum, you have to review.</p>
        }
      </div>

      <app-signup-progression [step]="step" class="w-full"></app-signup-progression>

      @if (step === 1){
        <app-signup-information></app-signup-information>

      } @else if (step === 2){
        <app-signup-password></app-signup-password>
      } @else if (step === 3){
        <app-signup-preferences></app-signup-preferences>
      }

      <!-- Continue button -->

      <div class="w-full pt-10 space-y-2.5">
        <div class="flex justify-center space-y-1.5 w-full">
          <button class="btn-rounded btn w-5/6 hover:bg-primary" (click)="test()">Continuer</button>
        </div>
      </div>

    </div>


  </div>


</div>
