<div class="flex flex-col space-y-1">

    <div class="relative flex space-x-16 border-t border-custom-border pb-2"></div>

    <!-- Others Answers -->
    <div class="flex flex-col">
        @for (answer of answers;track answer;let last = $last;let first = $first) {

            <!-- Profil part -->
            <div class="flex flex-col space-y-2 py-1">
                <!-- Avatar and user name -->
                <div class="flex flex-row items-center space-x-3 truncate">
                    <div class="avatar avatar-sm">
                        <img src="https://i.pravatar.cc/150" alt="avatar" />
                    </div>
                    <p class="text-md">Réponse de {{ answer.user.username }}</p>
                    <div class="flex flex-row items-baseline space-x-1.5">
                        <!-- Time elapsed -->
                        <p class="text-xs font-normal italic text-gray-500">{{ answer.timeElapsed }}</p>
                    </div>
                </div>

                <!-- User answer -->
                <div class="flex flex-row space-y-2">
                    @if (editingAnswerId === answer.id) {
                        <input class="effect-3 text-xs" type="text"
                               placeholder="{{ editedComments[answer.id] === '' ? 'Rajoutez une réponse !' : editedComments[answer.id] }}"
                               [(ngModel)]="editedComments[answer.id]">

                    } @else {
                        <p class="text-sm">{{ answer.comment }}</p>
                    }

                </div>


                <!-- Likes and answer button -->
                <div class="flex justify-between items-end">
                    <div class="flex flex-row space-x-6">
                        <!-- Likes -->
                        <div class="flex cursor-pointer flex-row items-center space-x-1">
                            <tabler-icon (click)="addLikeToAnswer(answer.id)"
                                         name="thumb-up"
                                         [style.color]="answer.isLiked ? 'green' : ''"
                                         style="width: 20px"></tabler-icon>

                            <p>{{ answer.likes.length }}</p>

                        </div>
                        <div class="">
                            <button class="btn btn-sm btn-primary bg-primary hover:bg-red-900"
                                    (click)="toggleAnswer(answer.id)"
                            >
                                Répondre
                            </button>
                        </div>
                    </div>
                    @if (answer.user.username === this.user.getUsername()) {
                        <div class="items-center flex space-x-2">
                                <span class="tooltip tooltip-top flex items-center"
                                      data-tooltip="Supprimer ma réponse">
                                    <tabler-icon name="trash" style="width: 20px; color: #c8291e; cursor: pointer"
                                                 (click)="deleteAnswer()"></tabler-icon>
                                </span>

                            @if (editingAnswerId === answer.id) {
                                <button class="btn btn-sm btn-primary bg-primary hover:bg-red-900"
                                        (click)="updateAnswer()">
                                    Valider
                                </button>
                            } @else {
                                <button class="btn btn-sm btn-primary bg-primary hover:bg-red-900"
                                        (click)="toggleEdit(answer.id)">
                                    Modifier
                                </button>
                            }
                        </div>
                    }
                </div>


            </div>

            <div class="relative flex space-x-16 border-b border-custom-light-border pb-2 "></div>
            <!-- Post an Answer -->
            @if (selectedAnswerId === answer.id) {
                <div class="p-1">
                    <div class="flex space-x-2">
                        <div class="avatar">
                            <img [src]="profilePicture" alt="photo" class="border-2 border-transparent" />
                        </div>
                        <div class="flex flex-col flex-grow pr-4 space-y-1.5">
                            <div class="relative">
                                <input class="effect-3 text-xs" type="text" [(ngModel)]="comment">
                                <span class="focus-border"></span>
                                <div class="absolute -top-0 right-0">
                                    @if (this.spoiler) {
                                        <span class="tooltip tooltip-left cursor-pointer"
                                              data-tooltip="Ma critique spoil"
                                              (click)="toggleSpoiler()">
                                <tabler-icon name="alert-triangle" style="width: 15px; color: #c8291e"></tabler-icon>
                            </span>
                                    } @else {
                                        <span class="tooltip tooltip-left cursor-pointer"
                                              data-tooltip="Ma critique ne spoil pas"
                                              (click)="toggleSpoiler()">
                                <tabler-icon name="alert-triangle" style="width: 15px"></tabler-icon>
                            </span>
                                    }
                                </div>
                            </div>

                            <div class="flex flex-row items-center justify-end">
                                <button class="btn btn-sm btn-primary bg-primary hover:bg-red-900"
                                        (click)="postAnswer()">
                                    Publier
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>


</div>
