<div class="flex flex-col space-y-1">
    <div class="relative flex space-x-16 border-t border-custom-border pb-2"></div>

    <!-- Others Answers -->
    <div class="flex flex-col">
        @for (answer of answers;track answer;let last = $last;let first = $first) {

        <!-- Profil part -->
        <div class="flex flex-col space-y-2 py-1">
            <!-- Avatar and user name -->
            <div class="flex flex-row items-center space-x-3 truncate">
                <a [routerLink]="'/'+User.getProfileUrl(answer.user)" class="avatar avatar-md cursor-pointer">
                    <img [src]="usersService.getProfilePicture(answer.user)" alt="photo" class="border-2 border-transparent" />
                </a>
                <p class="text-md">Réponse de {{ answer.user?.username }}</p>
                <div class="flex flex-row items-baseline space-x-1.5">
                    <!-- Time elapsed -->
                    <p class="text-xs font-normal italic text-gray-500">{{ answer.timeElapsed }}</p>
                </div>
            </div>

            <p class="text-sm">{{ answer.comment }}</p>

            <!-- Likes and answer button -->
            <div class="flex items-end justify-between">
                <div class="flex flex-row space-x-6">
                    <!-- Likes -->
                    <div class="flex cursor-pointer flex-row items-center space-x-1">
                        <tabler-icon (click)="addLikeToAnswer(answer.id)" name="thumb-up" [style.color]="answer.isLiked ? 'green' : ''" style="width: 20px"></tabler-icon>

                        <p>{{ answer.likes?.length }}</p>
                    </div>
                    <div class="">
                        <button class="btn btn-primary btn-sm bg-primary hover:bg-red-900" (click)="toggleAnswer(answer.id)">Répondre</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="relative flex space-x-16 border-b border-custom-light-border pb-2"></div>
        <!-- Post an Answer -->
        @if (selectedAnswerId === answer.id) {
        <div class="p-1">
            <div class="flex space-x-2">
                <div class="avatar">
                    <img [src]="profilePicture" alt="photo" class="border-2 border-transparent" />
                </div>
                <div class="flex flex-grow flex-col space-y-1.5 pr-4">
                    <div class="relative">
                        <input class="effect-3 text-xs" type="text" [(ngModel)]="comment" />
                        <span class="focus-border"></span>
                    </div>

                    <div class="flex flex-row items-center justify-end">
                        <button class="btn btn-primary btn-sm bg-primary hover:bg-red-900" (click)="postAnswer()">Publier</button>
                    </div>
                </div>
            </div>
        </div>
        } }
    </div>
</div>
