<div class="flex flex-col h-full justify-between">
  <div class="flex justify-center">
    <h2>Sélectionnez jusqu'à 5 catégories qui vous plaisent</h2>

  </div>
  <div class="grid grid-cols-3 gap-3">
    @for (genre of filmGenres; track genre.name) {
      <div (click)="selectGenre(genre)"
        class="flex transition-all items-center space-x-2 justify-between bg-secondary rounded-md border-2 border-[#343434] p-1 cursor-pointer hover:bg-primary" [ngClass]="{'border-primary' : genre.selected}">
        <p class="pl-0.5">{{ genre.name }}</p>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-123" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 10l2 -2v8" /><path d="M9 8h3a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2a1 1 0 0 0 -1 1v2a1 1 0 0 0 1 1h3" /><path d="M17 8h2.5a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1 -1.5 1.5h-1.5h1.5a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1 -1.5 1.5h-2.5" /></svg>
      </div>
    }
  </div>


  <!-- Submit button -->
  <div class="flex justify-center space-y-1.5">
    <button class="btn-rounded btn w-4/6 hover:bg-primary" (click)="incrementStep()">Continuer</button>
  </div>
</div>
