<div class="relative">
  <!-- App-backdrop with gradient -->
  <div class="opacity-75">
    <app-backdrop [backdropPath]="movie.backdrop_path"/>
    <div class="absolute inset-0 bg-gradient-to-tr from-[#100F10] from-0% to-transparent to-100%"></div>
    <div class="absolute inset-0 bg-gradient-to-tl from-[#100F10] from-0% to-transparent to-80%"></div>
  </div>

  <!-- Presentation -->
  <section class='flex flex-col absolute inset-x-0 space-y-4 top-[20%] p-14 xl:w-6/12 md:w-8/12 sm:w-11/12'>
    <div class="flex flex-col space-y-2">
      <h1 class="text-white text-3xl font-bold">{{movie.title}}</h1>
      <div>
        @for (genre of genres; track genre.id; let i = $index) {
          <span [class]="'text-white text-sm ' + (i === 0 ? 'pr-4' : 'px-4') + ' ' + (i === genres.length-1 ? '' : 'border-r border-gray-700')">{{genre.name}}</span>
        }
      </div>
    </div>
    <h2 class="text-white text-lg xl:line-clamp-3 md:line-clamp-2 sm:line-clamp-1">{{movie.overview}}</h2>
    <button class="mt-2 px-4 py-2 bg-[#C8291E] shadow-xl border w-fit border-[#E62C1D] text-white rounded-lg hover:bg-[#E62C1D] transition">Voir plus</button>
  </section>

  <!-- Gradient bottom to site background color -->
  <div class="absolute bottom-0 left-0 w-full h-24 bg-gradient-to-b from-transparent to-[#100F10]"></div>
</div>
