<div class="relative">
    <!-- App-backdrop with gradient -->
    <div class="opacity-75">
        <app-backdrop [backdropPath]="movie.backdrop_path" />
        <div class="absolute inset-0 bg-gradient-to-tr from-[#100F10] from-0% to-transparent to-100%"></div>
        <div class="absolute inset-0 bg-gradient-to-tl from-[#100F10] from-0% to-transparent to-80%"></div>
    </div>

    <!-- Presentation -->
    <section class="absolute inset-x-0 flex flex-col space-y-3 p-14 sm:top-0 sm:w-11/12 md:top-[8%] md:w-8/12 lg:top-[12%] xl:top-[15%] xl:w-6/12">
        <!-- Title and genres -->
        <div class="flex flex-col sm:space-y-0 md:space-y-1 lg:space-y-2 xl:space-y-2">
            <h1 class="sm:text-md font-bold text-white md:text-xl lg:text-2xl xl:text-3xl">{{ movie.title }}</h1>
            <div>
                @for (genre of genres; track genre.id; let first = $first; let last = $last) {
                <span [class]="'text-white xl:text-sm lg:text-sm md:text-xs sm:text-xs ' + (first ? 'pr-4' : 'px-4') + ' ' + (last ? '' : 'border-r border-gray-700')">{{ genre.name }}</span>
                }
            </div>
        </div>

        <!-- Rating and view button -->
        <h2 class="text-white sm:line-clamp-1 sm:text-xs md:line-clamp-2 md:text-sm lg:text-base xl:line-clamp-3 xl:text-lg">{{ movie.overview }}</h2>
        <button class="w-fit rounded-lg border border-[#E62C1D] bg-[#C8291E] text-white shadow-xl transition hover:bg-[#E62C1D] sm:px-2 sm:py-1 sm:text-xs md:px-2 md:py-1 md:text-xs lg:px-3 lg:py-1.5 lg:text-sm xl:px-4 xl:py-2 xl:text-base">Voir plus</button>
    </section>

    <!-- Gradient bottom to site background color -->
    <div class="absolute bottom-0 left-0 h-24 w-full bg-gradient-to-b from-transparent to-[#100F10]"></div>
</div>
