<div class="group cursor-pointer flex h-20 flex-row items-center space-x-2 rounded-lg border border-[#191919] bg-[#161616] px-6 text-[#FDFDFD] shadow-md">
    <div class="flex flex-row items-center w-full justify-between">
        <div class="flex flex-col">
            <p class="font-medium">{{category}}</p>
            <p class="text-sm text-gray-300">12 films</p>
        </div>
        <i-tabler name="arrow-narrow-right" class="group-hover:translate-x-1.5 transition"/>
    </div>
    <p></p>
</div>
