<div class="grid xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 gap-x-24 gap-y-8 px-12">
  <app-category-button category="Drame" icon="https://img.icons8.com/color/48/horror.png"/>
  <app-category-button category="Comédie"/>
  <app-category-button category="Action"/>
  <app-category-button category="Thriller"/>
  <app-category-button category="Horreur" icon="https://img.icons8.com/color/48/horror.png"/>
  <app-category-button category="Science-fiction"/>
  <app-category-button category="Fantaisie"/>
  <app-category-button category="Animation"/>
</div>
