<div class="relative dropdown">
    <!-- Barre de recherche -->
    <div class="flex items-start">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                <g fill="none" stroke="#FDFDFD" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <circle cx="10" cy="10" r="7" />
                    <path d="m21 21l-6-6" />
                </g>
            </svg>
        </span>

        <label tabindex="0">
            <input type="text" [(ngModel)]="searchQuery" placeholder="Rechercher un film" (input)="searchMovies()" class="input w-screen border transition border-custom-border bg-transparent p-4 pl-10 text-white focus:border-[#505050] focus:outline-none" />
        </label>

        <span class="absolute inset-y-0 right-0 flex items-center pr-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                <g fill="none" stroke="#FDFDFD" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <circle cx="14" cy="6" r="2" />
                    <path d="M4 6h8m4 0h4" />
                    <circle cx="8" cy="12" r="2" />
                    <path d="M4 12h2m4 0h10" />
                    <circle cx="17" cy="18" r="2" />
                    <path d="M4 18h11m4 0h1" />
                </g>
            </svg>
        </span>
    </div>

    <!-- Liste des films -->
    @if (movies && movies.length > 0) {
    <div class="dropdown-menu mt-1 w-full">
        @for (movie of movies; track movie.id){

        <!-- Movie -->
        <div class="dropdown-item flex flex-row px-2 space-x-2 " [ngClass]="{'border-b rounded-b-none border-custom-border' : !$last}">

            <!-- Poster -->
            <img [src]="getPosterUrl(movie.poster_path)" (error)="onPosterError($event)" alt="{{movie.title}}" class="object-fill h-24 rounded-lg"/>

            <!-- Information -->
            <div class="flex flex-col">
                <p>{{ movie.title }}</p>
                <p class="text-xs text-gray-500">{{movie.release_date}}</p>
            </div>

        </div>
        }
    </div>
    }
</div>
