@tailwind base
@tailwind components
@tailwind utilities

@import "tailwindcss/base"
@import "tailwindcss/components"
@import "tailwindcss/utilities"

body
  background-color: #100F10
  font-family: 'Montserrat', sans-serif
  color : white

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb
  width: 24px
  border-radius: 13px
  background-clip: padding-box
  border: 10px solid transparent


*::-webkit-scrollbar
  background-color: transparent


*::-webkit-scrollbar-thumb
  box-shadow: inset 0 0 0 10px #C8291E

*:root
  --primary-color: #C8291E



