@tailwind base
@tailwind components
@tailwind utilities

@import "tailwindcss/base"
@import "tailwindcss/components"
@import "tailwindcss/utilities"

body
  background-color: #100F10
  font-family: 'Montserrat', sans-serif

*:root
  --primary-color: #C8291E

.bebas-neue-regular
  font-family: "Bebas Neue", sans-serif
  font-weight: 400
  font-style: normal


