<div>
    <!-- Graph -->
    <div class="flex justify-center items-end space-x-0.5">

        @for(rating of ratings; track rating){
            <div class="popover popover-hover">
                <label class="popover-trigger">
                    <div class="bg-custom-border rounded-t-sm leading-none w-3" [style.height]="getHauteurBarre(rating)"></div>

                </label>
                <div class="popover-content popover-top-center w-48">
                    <div class="popover-arrow"></div>
                    <div class="flex justify-center text-sm items-center space-x-1">
                        <p>{{rating}} notes</p>
                        <app-stars [value]="$index/2" [stars]="5" size="w-2"></app-stars>
                        <p>{{getPourcentageAvis(rating)}}</p>
                    </div>
                </div>
            </div>
        }
    </div>

</div>


