<div>
    <!-- Graph -->
    <div class="flex items-end justify-center space-x-2">
        <app-stars [stars]="1" [value]="1" size="w-2" class="mb-2"></app-stars>
        <div class="flex space-x-[3px]">
            @for (rating of ratings; track rating) {
            <div class="popover popover-hover">
                <label class="popover-trigger cursor-pointer">
                    <!-- Conteneur de la barre et du fond -->
                    <div class="relative w-3" [style.height]="getHeight(this.highestRating)">
                        <!-- Fond de la barre (toujours à hauteur maximale) -->
                        <div class="absolute inset-0 rounded-t-sm bg-transparent"></div>
                        <!-- Barre actuelle (hauteur variable) -->
                        <div class="absolute bottom-0 w-3 rounded-t-sm bg-red-900 leading-none" [style.height]="getHeight(rating)"></div>
                    </div>
                </label>
                <div class="popover-content popover-top-center w-48">
                    <div class="popover-arrow"></div>
                    <div class="flex items-center justify-center space-x-1 text-sm">
                        <p>{{ rating }} note{{ rating > 1 ? 's' : '' }}</p>
                        <app-stars [value]="$index/2" [stars]="5" size="w-2"></app-stars>
                        <p>{{ getPercentage(rating) }}</p>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="mb-2 flex flex-col items-center justify-center space-y-1">
            <div class="popover popover-hover">
                <label class="popover-trigger cursor-pointer">
                    <p class="text-xl text-primary">3.5</p>
                </label>
                <div class="popover-content popover-top-center w-56">
                    <div class="popover-arrow"></div>
                    <div class="flex items-center justify-center space-x-1 text-sm">
                        <p>Moyenne de {{averageRating}} sur {{reviews.length}} note{{reviews.length > 1 ? 's' : ''}}</p>
                    </div>
                </div>
            </div>

            <app-stars [stars]="5" [value]="5" size="w-2"></app-stars>
        </div>
    </div>
</div>
