<div>
    <!-- Graph -->
    <div class="flex items-end justify-center space-x-0.5">
        @for(rating of ratings; track rating){
        <div class="popover popover-hover">
            <label class="popover-trigger">
                <div class="w-3 rounded-t-sm bg-custom-border leading-none" [style.height]="getHauteurBarre(rating)"></div>
            </label>
            <div class="popover-content popover-top-center w-48">
                <div class="popover-arrow"></div>
                <div class="flex items-center justify-center space-x-1 text-sm">
                    <p>{{rating}} notes</p>
                    <app-stars [value]="$index/2" [stars]="5" size="w-2"></app-stars>
                    <p>{{getPourcentageAvis(rating)}}</p>
                </div>
            </div>
        </div>
        }
    </div>
</div>
