<div class="flex flex-col -space-y-64">
    <!-- App-backdrop with gradient -->
    <div class="relative flex flex-col">
        <!-- Famous movie backdrop with gradient -->
        <div class="opacity-75">
            <app-backdrop [backdropPath]="list.movies[0].backdrop_path" />
            <div class="absolute inset-0 bg-gradient-to-tr from-[#100F10] from-0% to-transparent to-100%"></div>
            <div class="absolute inset-0 bg-gradient-to-tl from-[#100F10] from-0% to-transparent to-80%"></div>
            <div class="absolute inset-0 bg-gradient-to-t from-[#100F10] from-0% to-transparent to-80%"></div>
        </div>

        <!-- List description -->
        <div class="absolute top-24 flex w-full flex-row space-x-36 px-12">
            <!-- Posters -->
            <div class="flex h-56 w-fit flex-row -space-x-28">
                @for (movie of list.movies.slice(0, 5); track movie.id; let i = $index) {
                <img [alt]="movie.title" [src]="'https://image.tmdb.org/t/p/w220_and_h330_face'+movie.poster_path" [class]="'rounded-lg w-44 h-fit'" />
                }
            </div>

            <!-- Description -->
            <div class="flex flex-col space-y-3">
                <p class="text-4xl font-semibold">{{ list.name }}</p>

                <div class="flex flex-row items-center space-x-3">
                    <div class="avatar avatar-sm">
                        <img src="https://i.pravatar.cc/150?u=a042581f4e29026024d" alt="avatar" />
                    </div>
                    <div class="flex flex-col">
                        <p class="text-sm">Une liste de Jean Dupont</p>
                        <p class="text-xs">Mise à jours il y à 2 jours.</p>
                    </div>
                </div>

                <div class="flex flex-row items-center space-x-1">
                    <i-tabler name="movie" />
                    <p>126 films</p>
                </div>

                <div class="w-7/12">
                    <p class="line-clamp-3">Je suis un grand fan de cinéma et j'adore partagerer les frontières entre rêve et réalité. C'est un film qui captive à chaque visionnage et dont la complexité ne cesse de fasciner.</p>
                </div>

                <!-- Likes and comments -->
                <div class="flex flex-grow items-end">
                    <div class="flex flex-row space-x-6">
                        <!-- Likes -->
                        <div class="flex cursor-pointer select-none flex-row items-center space-x-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-thumb-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3" />
                            </svg>
                            <p>165</p>
                        </div>

                        <!-- Comments -->
                        <div class="flex cursor-pointer select-none flex-row items-center space-x-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-messages" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10" />
                                <path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2" />
                            </svg>
                            <p>44</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- List content -->
    <app-search-list-movies class="z-0"/>
</div>
