<div class="dropdown dropdown-hover">
    <!-- Avatar -->
    <label tabindex="0">
        <div class="avatar avatar-md cursor-pointer bg-gradient-to-r from-white to-primary">
            <img [src]="user.getProfileImage()" alt="photo" class="border-2 border-transparent" />
        </div>
    </label>

    <!-- Dropdown menu -->
    <div class="dropdown-menu dropdown-menu-bottom-left mt-1.5">
        <a class="dropdown-item text-sm" [routerLink]="'/profile'">
            <div class="flex items-center gap-2">
                <i-tabler name="user" />
                <p>Profil</p>
            </div>
        </a>

        <a class="dropdown-item rounded-b-none text-sm" [routerLink]="'/watchlist'">
            <div class="flex items-center gap-2">
                <i-tabler name="movie" />
                <p>Films</p>
            </div>
        </a>

        <a class="dropdown-item rounded-t-none border-t border-custom-border text-sm" [routerLink]="'/settings'">
            <div class="flex items-center gap-2">
                <i-tabler name="settings" />
                <p>Paramètres</p>
            </div>
        </a>

        <a class="dropdown-item text-sm">
            <button (click)="user.logout()" class="flex items-center gap-2">
                <i-tabler name="logout2" />
                <p>Se déconnecter</p>
            </button>
        </a>
    </div>
</div>
