<div class="space-y-4">
    <div class="flex flex-row justify-between items-center">
        <!-- Left Part -->
        <div class="flex flex-row space-x-10 items-center">
            <!-- Follows / Followers -->
            <div class="relative flex rounded-lg">
                <div id="markerNetwork" class="absolute bottom-0.5 left-0 h-0.5 w-0 rounded bg-red-500 transition-all"></div>
                <a (click)="switchFollows(); indicatorTab($event)" class="tracking-w tab cursor-pointer" id="follows" [ngClass]="{'text-white' : activeTab === 'follows'}">Abonnements</a>
                <a (click)="switchFollowers(); indicatorTab($event)" class="tracking-w tab cursor-pointer" id="followers" [ngClass]="{'text-white' : activeTab === 'followers'}">Abonnés</a>
            </div>



            <!-- Search Bar -->
            <input class="input-sm input w-52 truncate" placeholder="Rechercher un utilisateur" [(ngModel)]="searchQuery" (input)="search()"/>
        </div>



        <!-- Add Friend Button -->
        <label
            class="btn btn-sm btn-rounded w-1/6 hover:bg-primary bg-transparent border border-custom-border items-center justify-between"
            for="modal-2">
            <p class="truncate">Suivre un utilisateur</p>
            <tabler-icon name="user-plus"></tabler-icon>
        </label>
    </div>


    <!-- Table Friends -->
    <div class="flex w-full overflow-x-auto">
        <table class="table-compact table max-w-full">

            <!--Header -->
            <thead>
            <tr>
                <th class="w-3/12">Nom</th>
                <th class="w-2/12">Visionnages</th>
                <th class="w-2/12">Listes</th>
                <th class="w-2/12">Likes</th>
                <th class="w-1/12"></th>
            </tr>
            </thead>

            <!--Body -->
            <tbody>
                @for (user of shownContacts; track user) {
                    <tr>
                        <th class="flex space-x-2">
                            <div class="avatar avatar-md cursor-pointer">
                                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="photo"
                                     class="border-2 border-transparent" />
                            </div>
                            <div>
                                <p class="text-white cursor-pointer hover:text-primary transition-all">{{user.username}}</p>
                                <p class="text-xs font-normal">
                                    {{user.followsCount}} abonnement{{user.followsCount > 1 ? 's' : ''}},
                                    {{user.followersCount}} abonné{{user.followersCount > 1 ? 's' : ''}}
                                </p>
                            </div>

                        </th>
                        <td>
                            <div class="group flex items-center space-x-2 cursor-pointer w-min">
                                <tabler-icon name="eye-check" class="text-green-700"></tabler-icon>
                                <p class="group-hover:text-white">3</p>
                            </div>
                        </td>

                        <td>
                            <div class="group flex items-center space-x-2 cursor-pointer w-min">
                                <tabler-icon name="list" class="text-blue-800"></tabler-icon>
                                <p class="group-hover:text-white">3</p>
                            </div>
                        </td>
                        <td>
                            <div class="group flex items-center space-x-2 cursor-pointer w-min">
                                <tabler-icon name="heart" class="text-pink-700"></tabler-icon>
                                <p class="group-hover:text-white">3</p>
                            </div>
                        </td>
                        <td>
                            <div class="flex justify-end">
                                <tabler-icon name="circle-check-filled" class="text-green-500 cursor-pointer" (click)="removeFollow(user.username)"></tabler-icon>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


<!-- Modal Friend Add -->


<input class="modal-state" id="modal-2" type="checkbox" />
<div class="modal w-screen">
    <label class="modal-overlay" for="modal-2"></label>
    <div class="modal-content flex flex-col gap-5 max-w-3xl px-14">
        <label for="modal-2" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</label>
        <h2 class="text-xl">Suivre un nouvel utilisateur</h2>
        <input class="input" placeholder="Nom d'utilisateur" [(ngModel)]="friendName" />
        <div class="flex gap-3">
            <label class="btn btn-block hover:bg-primary transition-all" (click)="addFollow()">Confirmer</label>
        </div>
    </div>
</div>