<footer class="bottom-0 pt-20 text-white" style="">
    <div class="divider px-8"></div>
    <div class="container mx-auto flex flex-col flex-wrap px-5 pb-12 pt-8 md:flex-row md:flex-nowrap md:items-center lg:items-start">
        <div class="mx-auto mt-10 w-64 flex-shrink-0 text-center md:mx-0 md:mt-0 md:text-left">
            <a class="title-font flex items-center justify-center font-medium md:justify-start">
                <img src="assets/icon-transparent.png" alt="pelliculum" class="h-12 w-12 rounded-full bg-gray-800" />
                <span class="ml-3 text-xl">Pelliculum</span>
            </a>
            <p class="mt-2 text-sm">Pour les amoureux du cinéma</p>
        </div>
        <div class="order-first -mb-10 flex flex-grow flex-wrap text-center md:pr-20 md:text-left">
            <div class="w-full px-4 md:w-1/2 lg:w-1/4">
                <h2 class="title-font mb-3 text-sm font-medium tracking-widest">PAGES</h2>
                <nav class="mb-10 list-none text-gray-300">
                    <li>
                        <a class=" ">Profil</a>
                    </li>
                    <li>
                        <a class=" ">Watchlist</a>
                    </li>
                    <li>
                        <a class=" ">Amis</a>
                    </li>
                    <li>
                        <a class=" ">Jeux</a>
                    </li>
                </nav>
            </div>
            <div class="w-full px-4 md:w-1/2 lg:w-1/4">
                <h2 class="title-font mb-3 text-sm font-medium tracking-widest">AIDES</h2>
                <nav class="mb-10 list-none text-gray-300">
                    <li>
                        <a class=" ">Contact</a>
                    </li>
                    <li>
                        <a class=" ">FAQs</a>
                    </li>
                    <li>
                        <a class=" ">Propositions</a>
                    </li>
                </nav>
            </div>
            <div class="w-full px-4 md:w-1/2 lg:w-1/4">
                <h2 class="title-font mb-3 text-sm font-medium tracking-widest">LEGAL</h2>
                <nav class="mb-10 list-none text-gray-300">
                    <li>
                        <a class=" ">Accessibilité</a>
                    </li>
                    <li>
                        <a class=" ">Confidentialité</a>
                    </li>
                    <li>
                        <a class=" ">Statistiques</a>
                    </li>
                </nav>
            </div>
            <div class="w-full px-4 md:w-1/2 lg:w-1/4">
                <h2 class="title-font mb-3 text-sm font-medium tracking-widest">A PROPOS</h2>
                <nav class="mb-10 list-none text-gray-300">
                    <li>
                        <a class=" ">Création</a>
                    </li>
                </nav>
            </div>
        </div>
    </div>
    <div class="bg-[#161616]">
        <div class="container mx-auto flex flex-col flex-wrap px-5 py-4 sm:flex-row">
            <p class="text-center text-sm sm:text-left">
                © 2024 Pelliculum —
                <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="ml-1" target="_blank">PEM</a>
            </p>
            <span class="mt-2 inline-flex justify-center sm:ml-auto sm:mt-0 sm:justify-start">
                <a class="">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="h-5 w-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="ml-3">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="h-5 w-5" viewBox="0 0 24 24">
                        <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                    </svg>
                </a>
                <a class="ml-3">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="h-5 w-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="ml-3">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="h-5 w-5" viewBox="0 0 24 24">
                        <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </div>
</footer>
